<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webservice在线双向翻译</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/default.css">
    <link rel="stylesheet" type="text/css" href="./css/set2.css" />
</head>
<body>

<center>
    <h1>Webservice在线双向翻译</h1>
    <hr/>
    <form action=TransLation method="post" style="font-size: 18px;">
        <span class="input input--kozakura">
					<input class="input__field input__field--kozakura" type="text" id="input-7" name="word"/>
					<label class="input__label input__label--kozakura" for="input-7">
						<span class="input__label-content input__label-content--kozakura" data-content="Name">单词</span>
					</label>
					<svg class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"/>
					</svg>

		</span>
        <input type="submit" value="翻译" style="margin-top:3.5em">
    </form>
    <div style="margin-top: 50px;float: left;">
        <font color="red" style="font-size: 18px;float: left;">翻译结果：</font><br/>
        <span th:text="${info}" style="font-size: 16px;float: left;color:#13de1b;"></span>
    </div>
</center>
</body>
</html>